<header>
  <a href="/technique/index">Technique</a>
  ,
  <a href="/companies/index">Companies</a>
  ,
  <a href="/parkservices/index">Ordered park services</a>
  ,
  <a href="/signup">Sign Up</a>
  ,
  <a href="/login">Log In</a>
  ,
  <a href="/logout?_method=delete">Log Out</a>
</header>;
