<form action="<%= createUserPath %>" method="post">
  <label for="nickname  ">Nickname:</label>
  <input type="text" id="nickname" name="nickname" required/>
  <br>

  <label for="email">Email:</label>
  <input type="text" id="email" name="email" required/>
  <br>

  <label for="password">Password:</label>
  <input type="text" id="password" name="password" required/>
  <br>

  <label for="technique_owner">Role - </label>
  <select name="role">
    <option value="technique_owner">Technique Owner</option>
    <option value="company_owner">Company Owner</option>
  </select>
  

  <button type="submit">Sign Up</button>
</form>