Technique: 
<ul>
  <% technique.forEach(tech => { %>
    <li>
      <a href="/technique/<%= tech.id %>/show"><%= tech.name %></a>
    </li>
  <% }) %>
</ul>
<br>

<a href="/technique/new">Add Technique</a>