Park Services: 
<ul>
  <% parkServices.forEach(parkService => { %>
    <li>
      <a href="/parkservices/<%= parkService.work.companyId %>/show/<%= parkService.id %>"><%= parkService.work.name %></a>
    </li>
  <% }) %>
</ul>
<br>